<p>Rivulet is a discussion forum or chat space, organized by topic, where you
are limited to only talking with a few people in that space at a time.  The
group of people talking about a particular topic is called a <a
  href="/documentation/glossary.html#watershed">watershed</a>, and discussion
happens on Rivulet <a href="/documentation/glossary.html#branch">branches</a>
within that watershed.  As you discuss things on your branch, you may reach
agreements about your discussion, and you can share summaries of that
discussion publicly.  When you are fully satisfied with your discussion on your
branch, you can select one of your members to represent your branch with other
representatives of other branches.</p>

<p>To get started, you can use the <a href="/account">establish a session</a>
link to connect to the space.  You will then be given a link to your session
that you can use to access the Rivulet chat interface for talking with other
members of watersheds in this space.  You can then choose a watershed from the
list to join that watershed and begin a conversation with other people in a
branch of that watershed.</p>

<p><strong>Please note</strong> that this tool is in very early stages.  There
are currently almost no security features, so please expect that anything you
say could become public.  It also may be unstable in a lot of ways. I would be
very happy and excited for you to <a
  href="https://github.com/Juanc1to/rivulet">contribute your ideas, feedback,
  bug reports, or coding help</a>, if you wanted to offer any of those.</p>
